include ../partials/head.pug

include ../partials/header.pug

h4 You have just being profiled as an admin on MSSNUI Library 
h5 Please ensure you you change your password when you login 

ul
    li #[strong Firstname]:  #{firstName}
    li #[strong Lastname]: #{lastName}
    li #[strong Email]: #{email}
    li #[strong Password]: #{password}
    li #[strong Phone]: #{phoneNumber}

include ../partials/footer.pug
