include ../partials/head.pug

include ../partials/header.pug

h2 New Book Request

p Hello Librarian,

p You have received a new book request.

p
  | Book Request Details:
  br
  | Book Title: #{bookTitle}
  br
  | Book Author: #{bookAuthor}  
  br
  | Student Name: #{studentName}
  br
  | Student ID: #{studentId}
  br
  | Student Phone: #{studentPhone}
  br

p Please visit your dashboard to review and process this request.

p Best regards,
p The MSSNUI Library Team

include ../partials/footer.pug

