| New Book Request


| Hello Librarian,

| You have received a new booK request.

|
| Book Request Details:
| 
| Book Title: #{bookTitle}
| 
| Book Author: #{bookAuthor}
| 
| Student Name: #{studentName}
|   
| Student ID: #{studentId}
| 
| Student Phone: #{studentPhone}

|
| Please visit your dashboard to review and process this booking.
|
| Best regards,
| MSSNUI Library